{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "author": "Mariano Corvatta <mariano.corvatta@gmail.com>",
  "homepage": "https://github.com/marianocorvatta/react-proyect-gen/blob/main/README.md",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}